<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div class="container">
    <div class="row">
        <h1>Order List</h1>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order: ${orders}">
            <td th:text="${order.name}"></td>
            <td th:text="${order.name}"></td>
            <td th:text="${order.name}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>